* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background: white;
  padding: 20px;
}


header > h1 {
  color: #222;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 100px;
}


body {
  background: #222;
}


.instruction > h3 {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  padding: 30px;
}


.instruction > p {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px;
}


.images {
  position: absolute;
  bottom: 0;
  right: 0;
}


.image {
  display: inline-block;
}


.gameView > table {
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}


td {
border: 3px solid white;
height: 150px;
width: 150px;
font-size: 100px;
font-family: Helvetica, sans-serif;
color: white;
text-align: center;
}


.results > h2 {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  margin-top: 250px;
}


.results > h3 {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 20px;
}


.word {
  color: #228B22;
}
