.button {
  margin: 50px auto 50px auto;
  width: 100%;
}

.click {
  border: 1px solid #228B22;
  background: #228B22;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.turn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  color: white;
}

input[type=text] {
  width: 48px;
  height: 48px;
  padding-left: 14px;
  font-size: 30px;
  margin-left: 43%;
  font-family: Helvetica, sans-serif;
}

input[type=submit] {
  margin-left: 25%;
}
