<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <!-- body open -->

    <div class="wrapper">
      <header>
        <h1>Tic-Tac-Toe</h1>
      </header>

      <main>
        <!-- main open -->
        <div class="instruction">
          <h2>Instruction:</h2>
          <ol>
            <li>The player chooses the number of fights and the right of the first move.</li>
            <li>In the subsequent bouts of the series, the right of the first move alternates.</li>
            <li>The winner is the one whose characters they put on, get the right combination as part of the game.</li>
            <li>If there is no triple combination, a draw is obtained!</li>
            <li>The field is numbered from 1 to 9, in order to put 'X' or '0', you need to select the corresponding digit.</li>
          </ol>
        </div>

        <div class="button">
          <a href="/GamePage">
            <button class="click">Start Game!</button>
          </a>
        </div>

      </main> <!-- main close -->
      <div class="push"></div>
    </div>

    <footer class="footer">
      <!-- footer open -->
      <div class="images">
        <div class="image" id="GitHub">
          <a href="https://github.com/AnotherProksY?tab=repositories">
            <img src="/static/GitHub-Logo.png" height="39" width="150" alt="GitHub Logo">
          </a>
        </div>
        <div class="image" id="MyFace">
          <a href="https://github.com/AnotherProksY?tab=repositories">
            <img src="/static/My-Face.png" height="40" width="40" alt="My pixel art face">
          </a>
        </div>
      </div>
    </footer> <!-- footer close -->

  </body> <!-- body close -->
</html>
